doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Indie+Flower")
    link(rel="stylesheet", href="public/css/style.css")
    link(rel="stylesheet", href="public/css/styleArticle.css")
    link(rel="icon", href="public/img/icon.png")
    title="Yellow chick - Blog de voyage"

  body
    header
      img(id="img_bg", alt="Les falaises d'Etretat", src="public/img/img1.jpg")

      h1(id="title")
        a(href="index.html") Yellow chick

      nav(id="menu")
        ul
          li(id="menuItem1")
            a(href="index.html#socialMedia") Articles
          li(id="menuItem2")
            a(href="index.html#about") À propos
          li(id="menuItem3")
            a(href="contact.html") Contact

    main
      h1 Mon dernier voyage en Normandie !

      div(class="container")
        p(class="lightInformation") Article publié le 13/09/2017 par Steven
        div(class="main")
          img(alt="Les falaises d'Etretat", src="./img/img1.jpg")
        div(class="aside-1")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus risus in ipsum elementum eleifend. Sed eget mattis tortor, vel aliquam est. Praesent id libero tincidunt, ornare purus vel, luctus metus. Ut viverra ac lacus in consectetur. Donec nibh libero, ultricies non nibh in, dictum blandit nisi. Curabitur convallis ante non vehicula mollis. Sed at sem non tortor venenatis maximus in vitae libero. Nunc vel venenatis turpis. Duis nec arcu consectetur massa sagittis rhoncus. Nulla aliquam nisi sed neque aliquam scelerisque. Praesent pellentesque lacus a odio tristique, quis eleifend velit dignissim. Nam ultrices nisi massa, egestas commodo dolor pellentesque a. Morbi efficitur maximus mi, tristique tincidunt erat pulvinar nec. Proin facilisis, enim nec tincidunt aliquet, lacus dolor gravida sem, et maximus sapien ex vitae dui.

        div(class="aside-2")
          p Aliquam posuere vulputate odio sed accumsan. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas auctor ante ut ex porttitor tincidunt. Nam congue elementum ultrices. Quisque elementum, orci sed laoreet imperdiet, turpis eros fringilla tellus, non convallis purus sapien nec quam. Aliquam vel ligula convallis, congue justo quis, vestibulum nisl. Nunc vitae neque tellus. Pellentesque sit amet dolor consequat, sodales mauris aliquet, aliquam nisl.

        div(class="aside-3")
          p Ut congue enim non ornare fermentum. Duis ut ante et tellus hendrerit iaculis. Nunc nec pharetra urna. Pellentesque arcu quam, aliquet eget egestas at, ultrices eget nisl. Fusce ac turpis neque. Nulla id pellentesque mauris, sed volutpat eros. Aliquam imperdiet, ligula at euismod lobortis, purus risus venenatis lacus, ac condimentum enim urna aliquet lacus. In sapien justo, suscipit in quam sit amet, tincidunt ornare magna. Nam nec finibus tortor.

        div(class="aside-4")
          p Duis vel leo eros. Sed nec nunc nec elit auctor sagittis a a massa. Suspendisse potenti. Morbi rhoncus elit lacus, venenatis volutpat mauris pretium id. Donec vitae pulvinar enim, in lacinia augue. Vivamus ullamcorper viverra dui eu pulvinar. Proin eget pretium sapien. Quisque sodales tempor leo in fringilla. Nulla ac lectus in nibh elementum vehicula. Etiam hendrerit, neque et lobortis volutpat, augue arcu mollis lorem, ut scelerisque orci elit eget turpis. Integer non rutrum felis. Donec ac sem nisi. Integer erat erat, finibus et pharetra et, efficitur ut sem. Aliquam vitae lorem euismod, porta enim dictum, pharetra purus. Pellentesque ac dictum nibh.

        div(class="aside-5")
          p Donec nibh libero, ultricies non nibh in, dictum blandit nisi. Curabitur convallis ante non vehicula mollis. Sed at sem non tortor venenatis maximus in vitae libero. Nunc vel venenatis turpis. Duis nec arcu consectetur massa sagittis rhoncus. Nulla aliquam nisi sed neque aliquam scelerisque. Praesent pellentesque lacus a odio tristique, quis eleifend velit dignissim.

    footer Kevin GUOI / Steven Wong - Engineering student at ECE Paris | 2017
